<div id="footer">
       <div class="container text-center">
              <%= image_tag "logo_sinfondo.png", id: "footer-logo", class:"mt-5" %> <br>
       
              <p class="text-left text-white footer-text text-footer d-inline">COPYRIGHT ©</p>
              <P class="text-left text-white footer-text text-footer d-inline">GUARAPITA DULCE ® 2021</P>
       </div>
</div>