<nav class="navbar navbar-expand-lg navbar-light" id="navbar">
       <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
       </button>
       <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav">
                     <li class="nav-item mx-2">
                            <a class="nav-link" href="#inicio">Inicio<span class="sr-only">(current)</span></a>
                     </li>
                     <li class="nav-item mx-2">
                            <a class="nav-link" href="#catalogo">Catálogo</a>
                     </li>
                     <li class="nav-item mx-2">
                            <a class="nav-link" href="#contactame">Contactame</a>
                     </li>
                     <li class="nav-item mx-2">
                            <a class="nav-link" href="#info">Sobre mi</a>
                     </li>
                     <% if user_signed_in? %>
                     <li class="nav-item mx-2 ">
                            <a href="/user/show" class="nav-link">Ver mi perfil</a>
                     </li>
                     <% end %>
                     
              </ul>
              <div id="login-logout">
                     <%if user_signed_in? %>
                                   <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "sessions" %> |
                                   <%= link_to "<h5 class='fas fa-shopping-cart'></h5>".html_safe, cart_path, class: "sessions" %>
                            <%else%>
                                   <%= link_to "Log in", new_user_session_path, class: "sessions" %> |
                                   <%= link_to "Sign up", new_user_registration_path, class: "sessions" %>
                     <%end%>
              </div>
       </div>
</nav>