/*----------------------------- Navbar entero ----------------------------------*/
#navbar{
       background-color: #E19EEB;
       position: fixed;
       width: 100%;
       top: 0px;
       z-index: 100;
}
/* Links de registro y acceso */
#login-logout{
       position: relative;
       right: -850px;
}
/* Posicion de los links del navbar */
.navbar-nav{
       margin-left: 50px;
}
/* Links de registro y acceso */
.sessions{
       color: dimgray;
}
.sessions:hover{
       color: black;
       text-decoration: none;
}
/*AREA DEL LOG UP*/
.smallp{
       font-size: 15px;
}
#userperfillink{
       position: relative;
       top: 8px;
}
/*------------------------------ Header-----------------------------*/
#logo{
       width: 500px;
       position: relative;
       /* left: 27%; */
       z-index: -1;
}
#instagram{
       border: 1px solid #7B2785;
       background-color: #7B2785;
       position: fixed;
       width: 100px;
       height: 50px;
       top: 300px;
       border-radius: 15px;
       left: -40px;
       z-index: 1;
}
.fa-instagram{
       color: white;
       margin-left: 55px;
       margin-top: 8px;
}
.carousselimg{
       width: 100%;
       height: 600px
}
#alert-alert{
       z-index: 200;
       top: 60px;
}
/* --------------------------SOBRE MI ----------------------------------------*/

#local{
       border-top: solid 1px #7B2785;
       border-bottom: solid 1px #7B2785;
       text-align: justify;
       padding: 30px;
       display: inline-block;
       height: 250px;
}
#sobremi{
       border-top: solid 1px #7B2785;
       border-bottom: solid 1px #7B2785;
       margin-left: 80px;
       text-align: justify;
       padding: 30px;
       display: inline-block;
       height: 250px;
}

/*--------------------------Productos -----------------------------------------*/
.listadoprod{
       background-color: #7B2785;
       padding: 25px;
}
.product{
       border-top: 1px solid darkgray;
       border-bottom: 1px solid darkgray;
       padding-top: 40px ;
}
.productimage{
       width: 300px;
       height: 200px;
       border-radius: 50px;
       display: inline-block;
       position: relative;
       top: -25px;
}
.buttoncart{
       position:absolute;
       right: -40px;
} 
.buttonlike{
       position:absolute;
       right: -100px;
}
/*----------------------------COMENTARIOS----------------------------------*/

.commentuser{
       border: 1px solid lightgray ;
       border-radius: 20px;
       padding: 20px;
}

/*-----------------------------INFO USUARIO----------------------------------*/

.infousuario{
       position: relative;
       top: 50px;
}

/* --------------------------MEDIA QUERY ------------------------------------ */
@media(min-width: 320px) and (max-width: 600px){
       #login-logout{
              left: 0px;
              margin-left: 60px;
              margin-top: 50px;
       }
       #logo{
              width: 300px;
       }
       #sobremi{
              position: relative;
              left: -80px;
              margin-top: 40px;
       }
       .productimage{
              width: 100%;
              margin-top: 20px;
       }
       .buttoncart{
              position:absolute;
              right: 100px;
              bottom: 20px
       } 
       .buttonlike{
              position:absolute;
              right: 30px;
              bottom: 20px
       }
       .userphoto{
              position: relative;
              left: 22%;
       }
}

@media(min-width: 601px) and (max-width: 990px){
       #login-logout{
              left: 0px;
              margin-left: 56px;
              margin-top: 50px;
       }
       .productimage{
              width: 100%;
              margin-top: 20px;
       }
       .buttoncart{
              position:absolute;
              right: 80px;
              bottom: 20px
       } 
       .buttonlike{
              position:absolute;
              right: 10px;
              bottom: 20px
       }
       .userphoto{
              position: relative;
              left: 25%;
       }
}

@media(min-width: 601px) and (max-width: 768px){
       #local{
              margin-left: 10px;
       }
       #sobremi{
              position: relative;
              margin-left: 12px;
              margin-top: 30px;
       }
}


@media(min-width: 991px) and (max-width: 1050px){
       #login-logout{
              right: -300px;
       }
       .buttoncart{
              position:absolute;
              right: 30px;
       } 
       .buttonlike{
              position:absolute;
              right: -30px;
       }
}

@media(min-width: 1050px) and (max-width: 1180px){
       #login-logout{
              right: -350px;
       }
       .buttoncart{
              position:absolute;
              right: 10px;
       } 
       .buttonlike{
              position:absolute;
              right: -50px;
       }
}

@media(min-width: 1181px) and (max-width: 1310px){
       #login-logout{
              right: -500px;
       }
}

@media(min-width: 1310px) and (max-width: 1470px){
       #login-logout{
              right: -600px;
       }
}