/*----------------------------- Navbar entero ----------------------------------*/
#navbar{
       background-color: #E19EEB;
       position: fixed;
       width: 100%;
       top: 0px;
}
/* Links de registro y acceso */
#login-logout{
       position: relative;
       right: -880px;
}
/* Posicion de los links del navbar */
.navbar-nav{
       margin-left: 50px;
}
/* Links de registro y acceso */
.sessions{
       color: dimgray;
}
.sessions:hover{
       color: black;
       text-decoration: none;
}
/* Links del navbar */
.nav-link:hover{
       color: black;
}

/*AREA DEL LOG UP*/
.smallp{
       font-size: 15px;
}

/* --------------------------MEDIA QUERY ------------------------------------ */
@media(min-width: 320px) and (max-width: 500px){
       #login-logout{
              left: 0px;
              margin-left: 60px;
       }
}

@media(min-width: 501px) and (max-width: 991px){
       #login-logout{
              left: 0px;
              margin-left: 56px;
       }
}

@media(min-width: 992px) and (max-width: 1101px){
       #login-logout{
              right: -500px;
       }
}

@media(min-width: 1102px) and (max-width: 1400px){
       #login-logout{
              right: -600px;
       }
}