<% if current_user.admin == true %>
       <h1 class="text-center my-3">Crear un nuevo producto</h1>
       <div class="jumbotron bg-light">
       <%= render 'form', product: @product %>
       <%= link_to 'Back', dashboard_path, class: "btn btn-light" %>
       </div>
<% else %>
       <h1>No tienes autorizacion para estar aca</h1>
       <p class="text-muted">Regresa a la página principal con este link</p>
       <%= Link_to root_path "Volver", class: "btn btn-light" %>
<% end %>
